*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color:#2874f0;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0px;
}
.plus-color{
    color:yellow;
    font-weight:900;
}
.logo p{
    color: white;
    position: relative;
    top:-5px;
}
.Search{
    background-color: white;
    padding:7px;
    width:450px;
    height: 25px;
    margin:0px 20px;
    display: flex;
    justify-content: space-between;
    color:#2874f0;
    box-shadow:-7px -7px 10px rgba(0,0,0,0.1),
    7px 7px 10px rgba(0,0,0,0.1);
    border-radius:2px;
}
.clearfix::after{
    content:"";
    display:block;
    clear:both;
}
.Search input{
    width:400px;
    border:none;
    outline:none;
    font-size: 14px;
}
.Login8tn{
    padding:7px 40px;
    font-size:16px;
    font-weight:550;
    border:none;
    outline:none;
    color: #2874f0;
}
.Navlink{
    margin:0px 20px;
    font-size: 18px;
    color:white;
    text-decoration: none;
}
.angledownIcon{
    font-size:10px;
}

.image1{
    position:relative;
    top:30px;
    left:30px;
    border:1px solid #2874f0;
}

.image2{
    position:absolute;
    top: 120px;
     border:1px solid #2874f0;
      right:10% ;

}
.image3{
    position: absolute;
    top: 250px;
    right:13%;
}

.image4{
    position: absolute;
    top: 400px;
    right:32%;

}

.image5{
    position: absolute;
    top: 850px;
    right:13%;

}

.image6{
    position: absolute;
    top: 1100px;
    right:20%;

}

.image7{
    position: absolute;
    top: 1650px;
    right:10%;

}

.image8{
    position: absolute;
    top: 2100px;
    right:30%
}

@import url('htpps://fonts.googleapis.com/css2?family=poppins:wght@300;400;600;700&display=swap');
body{
    line-height:1.5;
     font-family:'poppins',sans-serif;
}



.container{
    max-width: 1170px;
    background-color: red;
    margin:auto;
}
.row{
    display: flex;
    flex-wrap:wrap ;
}
u1{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding:0 15px;
}

.footer-col h4{
    font-size:18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom:30px;
    font-weight: 500;
    position :relative;
 

}
.footer-col h4::before{
    content:'';
    position:absolute;
    left: 0;
    bottom:-10px;
    background-color:#e91e63;
    height:2px;
    box-sizing:border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom:10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#ffffff;

}